$primary: #4f2f199d;
// $primary: #1266f1;
$secondary: #b23cfd;
$success: #b79052b2;
$info: #eedec2d8;
$warning: #ffa900;
$danger: #f93154;
$light: #fbfbfb;
$dark: #262626;
$lime: rgba(224, 189, 139, 0.63);
$modal: #B69357;
$yes:green ;
$no: red;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
    'lime': $lime,
	'modal': $modal,
	'yes': $yes,
	'no': $no,
);

@import '~bootstrap/scss/bootstrap';
