$primary: #4f2f199d;
// $primary: #1266f1;
$secondary: #b23cfd;
$success: #b79052b2;
$info: #eedec2d8;
$warning: #c58e459d;
$danger: #f93154;
$light: #a15e31d2;
$dark: #262626;
$lime: rgba(224, 189, 139, 0.63);
$modal: #b69357;
$yes: green;
$no: red;
$cardTextarea: #c58e459d;
$cardAdd: #b790524b;

$theme-colors: (
	'primary': $primary,
	'secondary': $secondary,
	'success': $success,
	'info': $info,
	'warning': $warning,
	'danger': $danger,
	'light': $light,
	'dark': $dark,
	'lime': $lime,
	'modal': $modal,
	'yes': $yes,
	'no': $no,
	'cardTextarea': $cardTextarea,
	'cardAdd': $cardAdd,
);

@import '~bootstrap/scss/bootstrap';
