body {
	background-image: url('./img/bgmap.jpg');
	backdrop-filter: blur(10px);
	min-height: 100vh;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#root {
	width: 100%;
	/* height: 100vh; */
	margin: 0;
	padding: 0;
}

#root .container-fluid {
	/* height: inherit; */
	padding: 0;
}

.bgCardImages {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	transition: all 100ms;
}

div.card:hover .bgCardImages {
	background-size: 110%;
	transition: all 300ms;
}

/* .fade.show.modal-backdrop {
	position: sticky;
	top: 0
	top: calc(100% - 100vh);
}

.modal.fade.show {
	position: sticky;
	top: 5vh;
	top: calc(100% - 95vh);
}  */